<!--
 * @Author: 陈铭
 * @Date: 2021-10-16 10:01:36
 * @LastEditors: 陈铭
 * @LastEditTime: 2021-11-23 00:07:09
 * @Description: file content
 * @FilePath: /vue-template-vite/src/components/HelloWorld.vue
-->
<script setup>
import { ref } from 'vue';
import { getHelloWorld, getNewHelloWorld } from '../api/HelloWorld';

defineProps({
  msg: String
});

const count = ref(0);

getNewHelloWorld().then((res) => console.log(res)).catch((err) => console.error(err));

async function getHttp() {
  const res = await getHelloWorld();
  console.log(res);
}
</script>

<template>
  <h1>{{ msg }}</h1>

  <p>
    Recommended IDE setup:
    <a href="https://code.visualstudio.com/" target="_blank">VSCode</a>
    +
    <a href="https://github.com/johnsoncodehk/volar" target="_blank">Volar</a>
  </p>

  <p>
    <a href="https://vitejs.dev/guide/features.html" target="_blank">
      Vite Documentation
    </a>
    |
    <a href="https://v3.vuejs.org/" target="_blank">Vue 3 Documentation</a>
  </p>

  <button type="button" @click="count++">count is: {{ count }}</button>
  <p>
    Edit
    <code @click="getHttp">components/HelloWorld.vue</code> to test hot module replacement.
  </p>
</template>

<style scoped>
a {
  color: #42b983;
}
</style>
